
<div class="container mas">
  <h1 class="text-center mb-4">Add Product</h1>
  <form action="/add-product/{{id}}" method="POST" enctype="multipart/form-data">
  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="form1Example1" class="form-control" name="name" required/>
    <label class="form-label" for="form1Example1">Name</label>
  </div>
<div data-mdb-input-init class="form-outline mb-4">
    <input type="text" required id="form1Example2" class="form-control" name="category" />
    <label class="form-label" for="form1Example2">category</label>
  </div>
  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" required id="form1Example2" class="form-control" name="des" />
    <label class="form-label" for="form1Example2">Description</label>
  </div>
    <div data-mdb-input-init class="form-outline mb-4">
    <input type="number" required id="form1Example2" class="form-control" name="price" />
    <label class="form-label" for="form1Example2">Price</label>
  </div>
   <div data-mdb-input-init class="form-outline mb-4">
    <input type="file" id="form1Example1" class="form-control" name="image" required/>
    <label class="form-label" for="form1Example1">Image (.jpg is needed)</label>
  </div>


  <!-- 2 column grid layout for inline styling -->
 

  <!-- Submit button -->
  <div class="text-center"><button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block padding-auto">Add Product</button></div>
  
  <div class="text-center go-back m-4"><a href="/admin">Go Back</a></div>
  
</form></div>