{{> header}}


<div class="container py-5">
  <div class="row g-4">
 
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Number of Users</h5>
          <h1 class="card-text text-center">{{user}}</h1>
          <a  class="btn btn-primary text-center" href="/master-user">Manage Users</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Number of Admins</h5>
          <h1 class="card-text text-center">{{admin}}</h1>
          <a class="btn btn-primary text-center" href="/master-admins">Manage Admins</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Number of Products</h5>
          <h1 class="card-text text-center">{{product}}</h1>
          <a class="btn btn-primary text-center" href="/master-product">Manage Products</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Manage Cart</h5>
          <a class="btn btn-primary text-center" href="/master-cart">Manage Cart</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Manage Orders</h5>
          <a class="btn btn-primary text-center" href="/master-order">Manage Orderd</a>
        </div>
      </div>
    </div>
  
  </div>
</div>